@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../vendor/fonts/poppins-regular.ttf") format ("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: light;
  font-weight: 400;
  src: url("../vendor/fonts/poppins-light.ttf") format("truetype");
}
