.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0;
  transition: visibility 0s linear 0.4s, opacity 0.4s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: rgba(255, 255, 255, 1);
  max-width: 730px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
}

.modal__container_type_preview {
  max-width: 100%;
  background: transparent;
  border-radius: 8px;
  object-fit: contain;
  border: none;
  padding: 0;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  padding: 0;
  object-fit: contain;
  border-radius: 8px;
}

.modal__caption {
  background: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  margin: 0;
  border-radius: 8px;
  padding: 4px 8px;
  position: relative;
  top: 8px;
  width: fit-content;
  font-size: 20px;
  line-height: 1.2;
}

.modal__title {
  max-width: 630px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding-bottom: 32px;
}
.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  background: transparent url(../images/close_icon.svg) center no-repeat;
  opacity: 0.4;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: none;
  padding: 0;
  background-color: transparent;
}

.modal__close-button:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__close-button_type_preview {
  background: transparent url(../images/close_icon_light.svg) center no-repeat;
  top: 0;
  right: -50px;
  opacity: 1;
  position: absolute;
}

.modal__close-button_type_preview:hover {
  opacity: 0.4;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 630px;
}

.modal__label {
  color: rgba(33, 33, 33, 0.7);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  gap: 8px;
  padding-bottom: 32px;
}

.modal__input {
  max-width: 630px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  padding: 16px 12px;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__submit-button {
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .modal_type_preview {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 16px;
  }

  .modal__container {
    max-width: 300px;
    max-height: 336px;
    padding: 12px;
  }

  .modal__container_type_preview {
    max-width: 288px;
    padding: 0;
  }

  .modal__image {
    max-width: 100%;
  }

  .modal__title {
    font-size: 20px;
    line-height: 1;
    padding-bottom: 24px;
    padding-top: 10px;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 1.2;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__close-button_type_preview {
    top: -45px;
    right: 0px;
  }

  .modal__form {
    max-width: 276px;
  }

  .modal__label {
    padding-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
    line-height: 1;
  }
  .modal__submit-button {
    max-width: 276px;
  }
}
