.profile {
  display: flex;
  flex-direction: row;
  margin-top: 34px;
  padding: 0 0 20px;
  border-bottom: 1px solid #21212166;
}

.profile__avatar {
  margin-right: 20px;
  width: 190px;
  height: 190px;
  object-fit: cover;
  object-position: top;
  border-radius: 8px;
  display: block;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile__name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 12px;
}

.profile__description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  opacity: 0.7;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  background-color: #fcf5e5;
  padding: 0;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin-top: auto;
}

.profile__edit-button:hover {
  opacity: 1;
}

.edit-button__icon {
  max-width: 18.48px;
  margin-right: 8px;
}

.profile__add-button {
  margin-left: auto;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  min-width: 149px;
  height: 52px;
  padding: 18px 24px 18px 32px;
  border-radius: 8px;
  color: #fcf5e5;
  border: none;
  font-size: 16px;
}

.profile__add-button:hover {
  opacity: 0.8;
}

.add__icon {
  color: #fcf5e5;
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    max-width: 288px;
  }
  .profile__avatar {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 12px;
    border-radius: 8px;
  }
  .profile__column {
    flex-direction: column;
    align-items: center;
  }
  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
  }
  .profile__description {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
  }
  .profile__edit-button {
    margin-top: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
  }
  .profile__add-button {
    width: 100%;
    margin-top: 20px;
  }
}
